@page
@model Tax.Matters.Web.Pages.TaxCalculations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="TaxCalculator">Calculate New</a>
</p>

<form>
    <p>
        Postal Code: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calculations[0].AnnualIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calculations[0].TaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calculations[0].PostalCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calculations[0].PostalCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calculations[0].DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Calculations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnualIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>